* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  background-color: #ffffff;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
.App {
  text-align: center;
  background-color: #e5e5e5;
  min-height: 100vh;
}
