

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #0F4A7B; */
}

.container {
  /* margin-top: 2rem; */
  width: 1000px;
  height: 1000px;
  left: 0px;
  top: 0px;
  background: #F9FBFD;
  border-radius: 10px;
  display: flex;
  margin: auto;
}

.container .form-actions {
  display: flex;
}

.form-header {
  width: 870px;
  height: 22px;
  left: 0px;
  top: 0px;
  font-family: 'Gilroy ☞';
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 0.12em;
  color: #0F4A7B;
  text-align: start;
  margin-bottom: 4rem;
}

.container .form-actions {
  margin-left: 870px;
}

.container .form-actions:hover {
  color: red;
  cursor: pointer;
}

.Application-Form .form-head {
  display: flex;
  justify-content: flex-start;
}

.Application-Form {
  width: 870px;
  margin: auto;
}

.Application-Form label {
  width: 108px;
  height: 22px;
  left: 0px;
  top: 0px;
  font-family: 'Gilroy ☞';
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.12em;
  color: #0F4A7B;
  text-align: start;
}

.container #employment,
.Application-Form input {
  width: 100%;
  height: 50px;
  left: 0px;
  top: 34px;
  background: #FFFFFF;
  border: 0.5px solid #0F4A7B;
  box-sizing: border-box;
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;
}

.container #employment,
input[type="tel"],
input[type="location"],
input[type="email"],
input[type="text"] {
  font-size: 20px !important;
  padding: 0 40px;
  font-weight: lighter;
}

.Application-Form .Application-btn {
  font-size: 18px !important;
  background: #0F4A7B;
  padding: 16px;
  color: #FFFFFF;
}

.container .upload {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #FFFFFF;
  border: 1px solid #0F4A7B;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 60px;
  color: #0F4A7B;
}

.upload img {
  width: 60px;
}

.upload .cv-files {
  background: #0F4A7B;
  position: absolute;
  left: 47%;
  padding: 10px;
}

.upload .cv-files a {
  text-decoration: none;
  color: #fff;
}

.upload .cv-files a:hover {
  text-decoration: none;
  color: #fff;
}

.upload .cv-options {
  padding-bottom: 10px;
}

.upload .cv-upload {
  
}

@media screen and (max-width: 768px) {
  .container {
    /* margin-top: 3rem; */
    width: 400px;
    height: 700px;
  }

  .Application-Form {
    width: 350px;
    margin: auto;
  }

  .form-header {
    width: 250px;
    height: 22px;
    padding-bottom: 4rem;
  }
  
  .container .form-actions {
    margin-left: 350px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #a0aeb9;
}

.container {
  /* margin-top: 2rem; */
  width: 1000px;
  height: 1000px;
  left: 0px;
  top: 0px;
  background: #f9fbfd;
  border-radius: 10px;
  display: flex;
  margin: auto;
}

.container .form-actions {
  display: flex;
}

.form-header {
  width: 870px;
  height: 22px;
  left: 0px;
  top: 0px;
  font-family: "Gilroy ☞";
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 0.12em;
  color: #0f4a7b;
  text-align: start;
  margin-bottom: 4rem;
}

.container .form-actions {
  margin-left: 870px;
}

.container .form-actions:hover {
  color: red;
  cursor: pointer;
}

.Application-Form .form-head {
  display: flex;
  justify-content: flex-start;
}

.Application-Form {
  width: 870px;
  margin: auto;
}

.Application-Form label {
  width: 108px;
  height: 22px;
  left: 0px;
  top: 0px;
  font-family: "Gilroy ☞";
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.12em;
  color: #0f4a7b;
  text-align: start;
}

.container #employment,
.Application-Form input {
  width: 100%;
  height: 50px;
  left: 0px;
  top: 34px;
  background: #ffffff;
  border: 0.5px solid #0f4a7b;
  box-sizing: border-box;
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;
}

.container #employment,
input[type="tel"],
input[type="location"],
input[type="email"],
input[type="text"] {
  font-size: 80px;
  font-size: 20px !important;
  padding: 0 40px;
  font-weight: lighter;
}

.Application-Form .Application-btn {
  font-size: 18px !important;
  background: #0f4a7b;
  padding: 16px;
  color: #ffffff;
}

.container .upload {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #FFFFFF;
  border: 1px solid #0F4A7B;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 60px;
  color: #0F4A7B;
}

.upload img {
  width: 60px;
}

.upload .cv-files {
  background: #0F4A7B;
  position: absolute;
  left: 47%;
  padding: 10px;
}

.upload .cv-files a {
  text-decoration: none;
  color: #fff;
}

.upload .cv-files a:hover {
  text-decoration: none;
  color: #fff;
}

.upload .cv-options {
  padding-bottom: 10px;
}

.upload .cv-upload {
  
}

@media screen and (max-width: 768px) {
  .container {
    /* margin-top: 3rem; */
    width: 400px;
    height: 700px;
  }

  .Application-Form {
    width: 350px;
    margin: auto;
  }

  .form-header {
    width: 250px;
    height: 22px;
    padding-bottom: 4rem;
  }

  .container .form-actions {
    margin-left: 350px;
  }
}



