/* login page styling */
.interview-section {
  background-color: #06061ff5;
  padding-left: 60px;
  height: 100vh;
}
@media screen and (max-width: 960px) {
  div.whole-login-page {
    background: #030303f5;
  }
  .interview-section {
    background-color: #06061ff5;
    height: 100%;
    margin-top: -10px;
  }
  .interviewlogo > img {
    height: 200px;
    margin-left: -25px;
  }
  .interview-title {
    margin-top: -90px;
    color: #e5e5e5;
    cursor: pointer;
    font-family: Montserrat;
    font-weight: 600;
  }
}

/* company log styling */
.company-logo {
  padding-top: 40px;
}

/* log in interview section styling */
.interview-title {
  color: #e5e5e5;
  margin-top: 90px;
  cursor: pointer;
  font-family: Montserrat;
  font-weight: 600;
}
.login-title {
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-weight: 600;
}
.password-label,
.email-label {
  font-weight: 600;
  margin-bottom: 5px;
}
/* login form styling */
.login {
  color: #06061ff5;
  background-color: #e5e5e5;
  height: 100vh;
  padding-left: 50px;
  width: 100%;
}

/* button styling */
.login-btn {
  height: 50px;
  width: 150px;
  font-size: 18px;
  border: none;
  background-color: #5e8b09;
  border-radius: 25px;
  padding: 10px;
  margin-top: 40px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  transition: 0.3s;
}
.login-btn:hover {
  background-color: #06061ff5;
  color: #e5e5e5;
  transition: 0.3s;
}
/* log in form styling */
#user-mail.Email,
#user-password.Password {
  width: 60%;
  height: 10px;
  border-radius: 5px;
  border: none;
  padding: 20px 20px;
  font-size: 16px;
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.1);
}

.email {
  font-size: 10px;
}
.circleflex {
  display: flex;
  justify-content: space-between;
}
.circle-img {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

#password-section {
  margin-top: 30px;
}
/* media queries */
@media only screen and (max-width: 320px) {
  .log-in-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 920px) {
  .log-in-container {
    display: grid;
    grid-template-columns: 60% 40%;
  }
}
